body {
    margin: 0;
}

/* Navbar Links and buttons */
nav {
    background-color: ghostwhite;
    /* background-image: url("https://c8.alamy.com/comp/2C9B02X/seamless-frozen-glass-texture-background-ice-effect-irregular-mottled-pattern-cold-mottled-frost-white-blue-all-over-print-2C9B02X.jpg"); */
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/591/883/non_2x/magic-fairy-tale-pastel-sky-background-free-vector.jpg");
    background-size: 100%;
    background-position-y: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

nav h1 {
    background-color: ghostwhite;
    padding: 3px;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: orangered;
}

nav button {
    margin-top: 15%;
    background-color: white;
    color: orangered;
    padding: 10px;
    border-radius: 5px;
}

/* Products section - index */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-overview {
    border: 1px solid gainsboro;
    box-shadow: 5px 5px 5px gainsboro;
    margin: 10px;
    text-align: center;
    padding-bottom: 15px;
}

/* Forms */
.form-container {
    padding-bottom: 30px;
    margin: auto;
    width: 95%;
}

input[type],
textarea {
  display: block;
  width: 80%;
  margin: auto;
  resize: vertical;
}

input[type="checkbox"] {
    margin: 0 3%;
    width: 15%;
  }

input[type="number"] {
    width: 5%;
    margin: 0 10%;
}

input[type="submit"] {
    width: 30%;
    margin-top: 30px;
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
/* Navbar Links and buttons */
    nav {
        flex-direction: column;
        background-size: cover;
        text-align: center;
    }

    nav button {
        margin-top: 0;
    }

    /* Products section - index */
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}