@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Redressed&display=swap');

body {
    margin: 0;
}

main {
    margin: 10px;
}

/* Navbar Links and buttons */
nav {
    background-color: ghostwhite;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/591/883/non_2x/magic-fairy-tale-pastel-sky-background-free-vector.jpg");
    background-size: 100%;
    background-position-y: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

nav h1 {
    background-color: ghostwhite;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Redressed', cursive;
}

nav a {
    text-decoration: none;
    color: orangered;
}

.nav-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin-top: 2%;
}

.nav-button button {
    background-color: white;
    color: orangered;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
}


/* Products section - index */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-overview {
    border: 1px solid gainsboro;
    box-shadow: 5px 5px 5px gainsboro;
    margin: 10px;
    text-align: center;
    padding-bottom: 15px;
}

.product-overview a {
    text-decoration: none;
    font-family: 'Redressed', cursive;
    color: orangered;
}

.product-overview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Product details */
.product-details-container {
    margin: auto;
}

.product-details {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    border: 3px double gainsboro;
    background-color: white;
    border-radius: 5px;
}

.details-container {
    text-align: left;
    margin: auto;
    width: 600px;
    background-color: white;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin: auto;
    width: 400px;
}

.product-details-navigation {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: auto;
    width: 400px;
}

.product-details-navigation button {
    background-color: #fbc2f1;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    width: 100px;
}

/* Cart container */
.cart-container {
    height: 330px;
    background-color: rgb(231, 195, 195);
    background-image: url("https://media.istockphoto.com/vectors/vector-crumbled-paper-texture-vector-id626374442?k=20&m=626374442&s=612x612&w=0&h=NTXd4VoWN--1tYkJmUQAaqk4EBn6S2EVv7dkUwb_qGc=");
    background-size: 100%;
    overflow: scroll;
    padding-left: 10px;
}

.addToCartButton {
    text-align: center;
}

.form-button,
.addToCartButton button {
    background-color: #fbc2f1;
    border: 1px solid gainsboro;
    box-shadow: 5px 5px 5px gainsboro;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    margin-bottom: 20px;
}

.form-button:hover,
.addToCartButton button:hover {
    background-color: #ccc2fb;
}

/* Forms */
.form-container {
    padding-bottom: 30px;
    margin: auto;
    width: 95%;
}

input[type],
textarea {
  display: block;
  width: 80%;
  margin: auto;
  resize: vertical;
}

input[type="checkbox"] {
    margin: 0 3%;
    width: 15%;
  }

input[type="number"] {
    width: 5%;
    margin: 0 10%;
}

input[type="submit"] {
    width: 30%;
    margin-top: 30px;
  }


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
/* Navbar Links and buttons */
    nav {
        flex-direction: column;
        background-size: cover;
        text-align: center;
    }

    .nav-button {
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    /* Products section - index */
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Product details */
     .details-container {
        width: 200px;
    }

    .details {
        width: 200px;
    }

    .product-details-navigation {
        flex-direction: column;
        width: 200px;
        align-items: center;
    }
}