.topFiveProducts {
    max-width: 125px;
    
    &__productName {
        font-size: 20px;
        font-family: "Redressed", cursive;
    }
    &__image {
        img {
            border: 1px solid lightgray;
            border-radius: 50%;
            object-fit: cover;
            height: 125px;
            width: 125px;
        }
    }
}